@import 'global';
// HEADER start
.header {
    height: 640px;
    position: relative;
    &__img {
        position: absolute;
        z-index: 2;
    }
    a {
        cursor: pointer;
    }
    .top-left {
        top: 0;
        left: 80px;
        z-index: 3;
        max-width: 425px;
        width: 100%;
    }
    .top-right {
        max-width: 947px;
        width: 100%;
        top: 0;
        right: 0;
    }
    .left-bottom {
        max-width: 328px;
        width: 100%;
        left: 0;
        bottom: -240px;
    }
    .logo {
        top: 17px;
        left: 160px;
        z-index: 5;
    }
    .menu__drop-down {
        width: 100%;
        display: none;
        justify-content: flex-end;
        position: relative;
        right: 50px;
        z-index: 4;
        .line__box {
            top: 20px;
            position: relative;
            cursor: pointer;
            .line {
                width: 100px;
                height: 15px;
                background-color: #019edb;
            }
            .line+.line {
                margin-top: 15px;
            }
        }
        .drop-down__inner {
            display: none;
            position: absolute;
            top: 100px;
            right: -50px;
            width: 100%;
            .menu__list {
                display: flex;
                justify-content: space-around;
                background-color: #fff;
                border: 10px solid #019edb;
                &-link {
                    a {
                        font-size: 20px;
                        font-weight: 900;
                    }
                }
            }
        }
    }
    .menu {
        position: relative;
        z-index: 4;
        display: flex;
        justify-content: flex-end;
        top: 25px;
        right: 175px;
        &__list {
            &-link {
                display: inline-block;
                a {
                    font-size: 13.12px;
                    font-weight: 700;
                    color: #373636;
                    text-transform: uppercase;
                    padding: 17px;
                    &:hover {
                        background-color: #019edb;
                        color: #fff;
                    }
                }
            }
        }
    }
}

// HEADER end
// ADVANTAGES start
.advantages {
    width: 100%;
    height: 1216px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    &__rhomb-inner {
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        width: 100%;
    }
    &__rhomb {
        position: absolute;
        z-index: 3;
    }
    .foto1 {
        top: -560px;
        right: 0;
    }
    .foto2 {
        top: 70px;
        right: 240px;
        &:hover {
            z-index: 4;
        }
    }
    &__rhomb.rhomb1 {
        width: 457px;
        height: 457px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        top: 97px;
        left: 310px;
        color: #fff;
        .advantages__content {
            width: 270px;
            height: 220px;
            overflow: hidden;
            margin: -70px 0 0 20px;
            &-number {
                font-size: 83px;
                line-height: 83px;
                font-weight: 900;
                color: #fefefe;
                text-align: center;
                margin-left: -50px;
            }
            &-title {
                font-size: 24px;
                line-height: 24px;
                font-weight: 700;
                margin: 20px 0 20px 10px;
                text-transform: uppercase;
            }
            &-text {
                font-size: 15px;
                line-height: 15px;
                font-weight: 400;
            }
        }
    }
    &__rhomb.rhomb2 {
        max-width: 643px;
        width: 100%;
        height: 643px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        top: -358px;
        left: 64px;
        .advantages__content {
            width: 270px;
            height: 220px;
            margin-left: 70px;
            &-title {
                font-size: 33.38px;
                line-height: 33.38px;
                font-weight: 900;
                color: #019edb;
                text-transform: uppercase;
            }
            &-text {
                height: 85px;
                font-size: 15px;
                line-height: 22px;
                font-weight: 400;
                color: #fff;
                margin: 25px 0 40px;
                overflow: hidden;
            }
        }
    }
    .rhomb3 {
        width: 73.5px;
        height: 73.5px;
        background-color: #019edb;
        transform: rotate(45deg);
        top: -350px;
        left: 475px;
    }
    &__content-block {
        width: 100%;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        text-align: center;
        .content__block {
            width: 100%;
            letter-spacing: .25px;
            text-transform: uppercase;
        }
        .title {
            font-size: 37px;
            font-weight: 900;
        }
        .subtitle {
            font-size: 24px;
            font-weight: 700;
            margin: 20px 0 50px 0;
        }
        .advantages__inner {
            max-width: 780px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            &-item.box {
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 322px;
                height: 203px;
                padding: 40px 30px 50px;
                font-weight: 400;
                text-align: left;
                .advantages__inner-title {
                    font-size: 26.28px;
                    text-transform: uppercase;
                    margin-bottom: 20px;
                }
                .advantages__inner-text {
                    height: 80px;
                    font-size: 14px;
                    line-height: 20px;
                    overflow: hidden;
                }
            }
            &-item.img {
                display: flex;
                align-items: center;
            }
        }
        .content-link {
            margin: 50px auto 75px;
        }
    }
}

// ADVANTAGES end
// PORTFOLIO start
.portfolio {
    width: 100%;
    height: 1216px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 385px;
    position: relative;
    &__rhomb {
        position: absolute;
    }
    .foto3 {
        max-width: 1400px;
        width: 100%;
        top: -390px;
    }
    .rhomb4 {
        width: 269px;
        height: 269px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 65px;
        left: 335px;
        .portfolio__content-number {
            font-size: 83px;
            font-weight: 900;
            color: #019edb;
        }
    }
    .foto4 {
        top: 275px;
        left: 100px;
    }
    .foto5 {
        top: 275px;
        right: 100px;
    }
    .foto4,
    .foto5 {
        transition: all .2s;
        &:hover {
            z-index: 2;
        }
    }
    .rhomb5 {
        width: 609px;
        height: 609px;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 125px;
        left: 388px;
        .portfolio__content {
            width: 270px;
            height: 220px;
            text-align: center;
            &-title {
                font-size: 42px;
                font-weight: 900;
                color: #019edb;
                text-transform: uppercase;
            }
            &-text {
                font-size: 16px;
                line-height: 20px;
                color: #1b1b1b;
                height: 80px;
                overflow: hidden;
                margin: 25px 0 45px;
            }
            .content-link {
                margin: 0 auto;
            }
        }
    }
    &__content-block {
        width: 100%;
        position: absolute;
        bottom: 0;
        .content__block {
            max-width: 775px;
            width: 100%;
            text-align: center;
            margin: 0 auto;
            padding: 0 20px;
            line-height: 24px;
        }
        .title {
            font-size: 17px;
            font-weight: 400;
            text-transform: uppercase;
        }
        .text {
            font-size: 16px;
            font-weight: 300;
            margin: 30px auto 110px;
        }
    }
}

// PORTFOLIO end
// HowItWork start
.HowItWork,
.testimonials,
.footer {
    max-width: 1400px;
    width: 100%;
    height: 651px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 40px;
    &__rhomb4 {
        width: 164px;
        height: 164px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        position: relative;
        top: 40px;
        .portfolio__content-number,
        .testimonials__content-number,
        .footer__content-number,
        .HowItWork__content-number {
            font-size: 64.6px;
            font-weight: 900;
            color: #019edb;
            margin-left: 10px;
        }
    }
    .title-top {
        width: 320px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0 auto 25px;
        text-align: center;
    }
    &__title {
        font-size: 38.54px;
        position: relative;
        z-index: 2;
    }
    &__subtitle {
        font-size: 24px;
    }
    &__inner {
        max-width: 1220px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        margin: 75px auto 150px;
        &-item.box {
            width: 320px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .inner__item-box {
                width: 230px;
                height: 125px;
                letter-spacing: .25px;
                line-height: 23px;
                margin-left: 30px;
                .item__box-title {
                    font-size: 17px;
                    font-weight: 700;
                    text-transform: uppercase;
                    color: #019edb;
                    margin-bottom: 10px;
                }
                .item__box-text {
                    font-size: 16px;
                    font-weight: 300;
                    width: 215px;
                    height: 90px;
                    overflow: hidden;
                }
            }
        }
        &-item.img {
            display: flex;
            justify-content: center;
        }
    }
}

// HowItWork end
// TESTIMONIALS start
.testimonials {
    height: 630px;
    padding-top: 55px;
    &__inner {
        max-width: 830px;
        width: 100%;
        margin: 60px auto 95px;
        &-item.box {
            display: flex;
            flex-wrap: wrap;
        }
        &-item.box.left {
            text-align: right;
            justify-content: flex-end;
        }
        &-item.box.right {
            text-align: left;
            justify-content: flex-start;
        }
        .item__box-text {
            height: 80px;
            overflow: hidden;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 35px;
        }
        .img {
            margin: 0 15px;
        }
    }
}

// TESTIMONIALS end
// FOOTER start
.footer {
    height: 722px;
    padding-top: 0;
    position: relative;
    &__inner {
        max-width: 100%;
        height: 155px;
        background-color: #019edb;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        a+a {
            margin-left: 30px;
        }
    }
    &__inner-contacts {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 70px 0;
        .footer__inner-item {
            width: 305px;
            line-height: 24px;
            letter-spacing: 0.25px;
            position: relative;
            padding-left: 110px;
            &::before {
                content: '';
                width: 50px;
                height: 50px;
                background-color: #019edb;
                transform: rotate(45deg);
                left: 10px;
                top: 10px;
                position: absolute;
            }
            &::after {
                content: '';
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                position: absolute;
                left: 25px;
                top: 13px;
            }
            &:hover {
                box-shadow: 0 0 10px #019edb;
            }
            &:hover::before {
                transform: rotate(0deg);
            }
            a {
                color: #fff;
            }
            .inner__item-title {
                font-size: 17px;
                text-transform: uppercase;
                font-weight: 700;
                margin-bottom: 15px;
            }
            .inner__item-text {
                font-size: 16px;
                font-weight: 400;
            }
        }
        .email {
            &::after {
                width: 40px;
                height: 31px;
                background-image: url(../images/icon_email.png);
            }
        }
        .phone {
            &::after {
                width: 28px;
                height: 42px;
                background-image: url(../images/icon_phone.png);
            }
        }
        .address {
            &::after {
                width: 43px;
                height: 45px;
                background-image: url(../images/icon_address.png);
            }
        }
    }
    &__copy {
        text-align: center;
    }
    .poligon-top {
        width: 125px;
        height: 62px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.25px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
    }
}

// FOOTER end
@import 'media';